@font-face {
    font-family: 'Emoji';
    src: url('../kernel/fonts/NotoEmoji-Regular.ttf');
}

.emoji-container {
    display: flex;
    flex-wrap: wrap;
}

.emoji-block {
    margin: 2px !important;

    border: 2px solid darkgray !important;
    border-radius: 2px !important;
}

.bebas-font {
    font-family: 'Bebas' !important;
    transform: scale(0.8) translate(0px, 3px);
}

.emoji-font {
    line-height: 12pt;
    font-family: 'Emoji' !important;
}

@media only screen and (max-width: 1200px) {
    .emoji-block { 
        width: 3rem;
        height: 3rem;

        min-width: 3rem  !important;
        min-height: 3rem !important;
        max-width: 3rem !important;
        max-height: 3rem !important;

        font-size: 1.8rem !important;
    }
}

@media only screen and (min-width: 1200px) {
    .emoji-block { 
        width: 3.7rem;
        height: 3.7rem;

        min-width: 3.7rem !important;
        min-height: 3.7rem !important;
        max-width: 3.7rem !important;
        max-height: 3.7rem !important;

        font-size: 2.3rem !important;
    }
}