body {
    /* background-color: rgb(255, 228, 165); */
    /* background-color: rgb(254, 218, 134); */
    background-color: rgb(248, 199, 36);
}

body #root {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body::-webkit-scrollbar{
    display: none;
}

.editor-container {
    display: flex;
    flex-direction: column;
    padding: 2rem;

    max-width: 80%;
    min-width: 800px;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-text {
    font-size: 30pt;
    font-family: 'Bebas';
    padding-left: 1rem;
    padding-bottom: 0.5rem;
}

.header-logo {
    width: 16rem;
    padding-bottom: 1rem;
}

.main-row {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.params-column-card {
    border: 1px solid darkgray;
    box-shadow: none !important;
}

.params-column {
    /* max-width: 30rem; */
    /* max-width: 100%;
    width: 50%; */
    width: 30%;
    padding-left: 1rem;
    height: 500px;
}

.main-canvas {
    width: 70%;
    height: 500px;
    border: 1px solid darkgray;
    border-radius: 4px;
    background-color: white;
}

.params-panel-inner {
    margin-top: -1rem;
}

#text-field-input-label {
    color: #aaaaaa;
}

.MuiTextField-root input {
    font-family: 'Bebas';
    font-size: 2rem;
}

@font-face {
    font-family: 'Bebas';
    font-style: normal;
    src: url('../kernel/fonts/BebasNeue.otf');
}

.bebas-header {
    font-family: 'Bebas' !important;
    font-size: 2em;
    white-space: nowrap;
}

@font-face {
    font-family: 'Comic';
    font-style: normal;
    src: url('../kernel/fonts/ComicNeueAngular-Regular.ttf');
}

.comic-label {
    font-family: 'Comic' !important;
    font-size: 1.3em;
    margin-bottom: 0.5rem;
}

.editor-control-container {
    display: flex;
    flex-direction: column;
}

.sub-row {
    width: 70%;
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
}

.sub-sub-row {
    width: 70%;
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
}

.editor-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: fit-content;
}

.editor-button {
    background-color: white !important;

    /* font-family: 'Bebas' !important; */
    font-size: 1rem !important;
    padding: 1rem !important;
    min-width: 3rem !important;
    max-width: 3rem !important;
    min-height: 3rem !important;
    max-height: 3rem !important;

    margin-top: -0.5rem !important;
    margin-right: 0.5rem !important;
}

.download-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-right: 0px !important;
    margin-left: auto !important;
}

.download-button {
    width: 16rem;
    background-color: white !important;

    font-family: 'Bebas' !important;
    font-size: 2rem !important;

    margin-right: 0px !important;
    margin-left: auto !important;
    margin-bottom: 1rem !important;

    padding-left: 3rem !important;
    padding-right: 3rem !important;
}

.download-button-model {
    width: 7.5rem;
    background-color: white !important;

    font-family: 'Bebas' !important;
    font-size: 2rem !important;

    margin-right: 0px !important;
    margin-left: auto !important;
    margin-bottom: 1rem !important;

    padding-left: 3rem !important;
    padding-right: 3rem !important;
}

.slicing-status-label {
    margin-top: -0.5rem;
}

.view-options-label {
    height: fit-content;
    padding-bottom: 0.5rem;
    padding-right: 0.5rem;
}

.wrap-40 {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: -7px;
}

.padLeft-inline {
    padding-left: 5px;
    /* margin-left: 5px; */
    margin-right: -2px;
}

.padAround-inline {
    padding-left: 5px;
    /* margin-left: -7px; */
    margin-right: -3px;
}